* text=auto

*.java text eol=lf
*.json text eol=lf
*.lang text eol=lf
*.mcmeta text eol=lf
*.info text eol=lf
*.cfg text eol=lf
*.properties text eol=lf
*.gradle text eol=lf
*.txt text eol=lf
*.xml text eol=lf
