#net.minecraft.client.gui.inventory.GuiContainer
public net.minecraft.client.gui.inventory.GuiContainer field_146999_f #xSize
public net.minecraft.client.gui.inventory.GuiContainer field_147000_g #ySize
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i #guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r #guiTop
public net.minecraft.client.gui.inventory.GuiContainer func_146981_a(Lnet/minecraft/inventory/Slot;II)Z # isMouseOverSlot

#net.minecraft.network.NetHandlerPlayServer
public net.minecraft.network.NetHandlerPlayServer field_147365_f #floatingTickCount

#net.minecraft.client.audio.SoundHandler
public net.minecraft.client.audio.SoundHandler field_147694_f #sndManager

#net.minecraft.client.renderer.BufferBuilder
public net.minecraft.client.renderer.BufferBuilder field_179010_r #isDrawing

#net.minecraft.block.BlockPortal$Size
public net.minecraft.block.BlockPortal$Size field_150867_a #world
public net.minecraft.block.BlockPortal$Size field_150861_f #bottomLeft
public net.minecraft.block.BlockPortal$Size field_150862_g #height
public net.minecraft.block.BlockPortal$Size field_150868_h #width
public net.minecraft.block.BlockPortal$Size field_150863_d #leftDir
public net.minecraft.block.BlockPortal$Size field_150866_c #rightDir

#net.minecraft.item.ItemSword
protected net.minecraft.item.ItemSword field_150933_b #material

public net.minecraft.potion.PotionEffect field_76460_b # duration
public net.minecraft.potion.PotionEffect func_76454_e()I # deincrementDuration

# EntityPlayer
public net.minecraft.entity.EntityLivingBase field_184632_c #HEALTH

public net.minecraft.client.renderer.ItemRenderer * # ALL THE FIELDS!!
public net.minecraft.client.renderer.ItemRenderer *() # ALL THE METHODS!!

public net.minecraft.entity.item.EntityItem field_184533_c # ITEM
public net.minecraft.entity.item.EntityItem field_145804_b # delayBeforeCanPickup
public net.minecraft.entity.item.EntityItem func_85054_d()V # searchForOtherItemsNearby
public net.minecraft.entity.item.EntityItem field_70292_b # age

public net.minecraft.entity.EntityLivingBase field_70752_e #potionsNeedUpdate
public net.minecraft.entity.EntityLivingBase field_184629_bo #ticksElytraFlying
public net.minecraft.entity.EntityLivingBase func_184616_r()V #updateElytra

public net.minecraft.entity.Entity func_70052_a(IZ)V #setFlag

public net.minecraft.client.gui.inventory.GuiContainer func_146975_c(II)Lnet/minecraft/inventory/Slot; #getSlotAtPosition

public net.minecraft.block.Block field_149782_v # blockHardness

public net.minecraft.entity.Entity field_70178_ae #isImmuneToFire

public net.minecraft.block.BlockCrops func_149865_P()Lnet/minecraft/item/Item; #getCrop
public net.minecraft.block.BlockCrops func_149866_i()Lnet/minecraft/item/Item; #getSeed
public net.minecraft.block.BlockBeetroot func_149865_P()Lnet/minecraft/item/Item; #getCrop
public net.minecraft.block.BlockBeetroot func_149866_i()Lnet/minecraft/item/Item; #getSeed
public net.minecraft.block.BlockCarrot func_149865_P()Lnet/minecraft/item/Item; #getCrop
public net.minecraft.block.BlockCarrot func_149866_i()Lnet/minecraft/item/Item; #getSeed
public net.minecraft.block.BlockPotato func_149865_P()Lnet/minecraft/item/Item; #getCrop
public net.minecraft.block.BlockPotato func_149866_i()Lnet/minecraft/item/Item; #getSeed

protected net.minecraft.item.ItemArmor field_185084_n # ARMOR_MODIFIERS
public net.minecraft.client.gui.GuiIngame field_73845_h
